.card-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 16rem;
  background: var(--color-blue-800);
  border-radius: var(--border-radius-2);
}

.card__user {
  flex: 1;
  padding: 2rem;
  background: var(--color-primary-blue);
  border-radius: var(--border-radius-1);
}

.card__user img {
  height: 5.25rem;
  margin-bottom: 2rem;
  border: 3px solid var(--color-white);
  border-radius: 50%;
}

.card__user h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.card__user p {
  color: var(--color-blue-100);
  font-size: 1rem;
}

.card__selection {
  padding: 2rem;
  background: var(--color-blue-800);
  border-radius: var(--border-radius-1);
}

.card__selection ul {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  list-style: none;
}

.card__selection button {
  background: none;
  border: none;
  color: var(--color-blue-100);
  font-size: 1.1rem;
  font-weight: 300;
  opacity: 0.6;

  transition: all 300ms ease;
}

.card__selection .active:hover {
  cursor: pointer;
  color: var(--color-white);
  opacity: 1;
}

.card__selection .current {
  color: var(--color-white);
  opacity: 1;
}

@media (max-width: 992px) {
  .card-user {
    max-width: 100%;
  }
  .card__user {
    display: flex;
    align-items: center;
  }
  .card__user img {
    margin: 0;
  }
  .card__user h1 {
    font-size: 1.5rem;
  }
  .card__user > div {
    padding-left: 1rem;
  }
  .card__selection > ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
